:root {
 --black: #000;
 --grayDarker: #222;
 --grayDark: #333;
 --gray: #555;
 --grayLight: #999;
 --grayLighter: #eee;
 --white: #fff;
 --red: #c83025;
 --redDark: #b22b21;
 --yellow: #ffca27;
 --green: #46a54e;
 --greenDark: #3e9346;
 --orange: #f89406;
 --orangeDark: #df8505;
 --blue: #0099e6;
 --blueDark: #0088cd;

 --backgroundColor: --white;
 --textColor: --grayDark;

 --linkColor: --blue;

 --fontSans: "Helvetica Neue", Helvetica, Arial, sans-serif;
 --fontMono: Menlo, Monaco, Consolas, "Courier New", monospace;

}

.btn{
    background-color: var(--grayLighter);
    color: var(--textColor);
    padding: 1.2%;
    font-family: var(--fontSans);
    border: 0px transparent;
    font-size: 85%;
}

.btn-primary, .btn-success, .btn-danger, .btn-warning, .btn-secondary, .btn-inverse{
    color: var(--grayLighter);
}

.btn-primary{
    background-color: var(--blue);
}

.btn-danger{
    background-color: var(--red);
}

.btn-success{
    background-color: var(--green);
}

.btn-warning{
    background-color: var(--orange);
}

.btn-secondary{
    background-color: var(--grayLight);
}

.btn-inverse{
    background-color: var(--grayDarker);
}

.btn-primary:hover, .btn-primary:focus{
    background-color: var(--blueDark);
}

.btn-danger:hover, .btn-danger:focus{
    background-color: var(--redDark);
}

.btn-success:hover, .btn-success:focus{
    background-color: var(--greenDark);
}

.btn-warning:hover, .btn-warning:focus{
    background-color: var(--orangeDark);
}

.btn-secondary:hover, .btn-secondary:focus{
    background-color: var(--gray);
}

.btn-inverse:hover, .btn-inverse:focus{
    background-color: var(--grayDark);
}

.btn-rounded{
    border-radius: 7px;
}

.container{
    max-width: 95%;
    height: auto;
}

.fluid-container{
    max-width: 100%;
    height: auto;
}